* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TTlakes regular';
}

a {
    color: $text-black;
    text-decoration: none;
}

ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
    }
}

a:visited {
    color: $text-black
}