@font-face {
    font-family: 'TTlakes bold';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
}

@font-face {
    font-family: 'TTlakes medium';
    src: url('fonts/TTLakes-Medium.woff') format('woff');
}

@font-face {
    font-family: 'TTlakes regular';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
}