.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 15px;

        p {
            color: $text-second;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;

            &:first-child {
                text-align: left;
            }
            &:nth-child(2) {
            }
            &:last-child{
                text-align: right;
                word-wrap: break-word;
            }
        }
}

@media (min-width: 320px) and (max-width:768px) {

    .footer-end {
        display: block;
    }
    .block-disapear {
        display: none;
    }

}