.footer-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .footer-text{
        p {
            color: $text-second;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
        }
        :last-child {
            text-align: right;
        }
    }
}