
    //head
    .logo:nth-child(2) {
        display: none;
    }
    
    .container {
        display: flex;
        position: relative;
    }

    .header-container {
        // min-width: 1120px;
        background-color: #F8F8F8;
    }
        /* ----header---- */
    .header {
        background-color: $main-back;
        height: auto;
    }
    
    .carousel {
        background-color: $main-back;
    }
    
    .header-main {
        background-color: $main-back;
    }
    
        /* ---- block ---- */
    .block {
        display: flex;
        justify-content: space-between;
        margin-right: 40px;
    }
    
    .block__inside {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .block__item {
        margin-right: 10px;
        font-family: 'TTlakes regular', sans-serif;
    }
    
        /* ---- menu ---- */
    
    .menu-old {
        display: none;
    }
    
    .menu-new {
        display: none;
    }
    
    .group {
        display: none;
    }
    
    .container + .logo {
        display: none;
    }
    
    a {
        display: flex;
        align-items: center;
    }
    
    .header > a {
        color: $items-main;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    
    a > span {
        margin-right: 8px;
        white-space: nowrap;
    }
    
    .logo {
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: relative;
        padding-left: 20px;
    }
    
    .logo-h1 {
        font-family: 'TTlakes bold', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
    }
    
    .logo--h1::after {
        position: absolute;
        content: '';
        left: 0px;
        width: 3px;
        height: 40px;
        background-color: $line-second;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
        /* ----carousel---- */
    
    .carousel {
        max-width: 1120px;
        height: 82px;
        padding: 0 20px;
        margin-right: 0;
        background-color: $main-back;
    }
    
    .carousel__list {
        flex-wrap: wrap;
        max-width: 1120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    .carousel__item:hover {
        outline: 1px solid $line-second;
        background-color: $carousel-back;
        border-radius: 6px;
    }
    
    .carousel a {
        font-family: sans-serif;
        color: $text-second;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 5px 20px;
        white-space: nowrap;
    }
    
    .carousel a:visited {
        color: $text-second;
    }
    
        /* ----main--- */
    
    .header-main {
        // max-width: 1120px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .header-main__left {
        margin-top: 10px;
    }
    
    .header-main__left p {
        font-family: sans-serif;
        font-family: "TTlakes regular";
        color: $items-main;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.2px;
        margin-right: 35px;
    }
    
    .header-main__read {
        display: flex;
        margin-top: 10px;
    }
    
    .header-main__read > p {
        font-family: 'TTlakes medium', sans-serif;
        color: $items-main;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
    }
    
    .header-main__right{
        width: 531.346px;
        height: 383.241px;
    }
    
    .header-main__right img {
        width: 531.346px;
        height: 307px;
        border-radius: 6px;
        background: $main-back; 
    }
    
    .divider {
        background-image: url(img/divider.svg);
        width: 2px;
        height: 32px;
        border-radius: 1px;
    }

    .sidebar-active {
        display: block;
    }
    
    @media (min-width:1441px) {
        .block--disapear {
            display: none;
        }
    }

    @media sceen and (max-width:1439px) {
        .block--disapear {
            display: block;
        }
    }