
    //head
// .logo:nth-child(2) {
//     display: none;
// }

.container {
    display: flex;
    position: relative;
}

.header-container, .header, .header-main {
    background-color: $main-back;
}
    /* ----header---- */
.header {
    height: auto;
}

    /* ---- block ---- */
.block {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    &__inside {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__item {
        margin-right: 10px;
        font-family: 'TTlakes regular', sans-serif;
}


}

    /* ---- menu ---- */

.menu-old, .menu-new, .group, .container + .logo {
    display: none;
}

a {
    display: flex;
    align-items: center;
}

.header > a {
    color: $items-main;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

a > span {
    margin-right: 8px;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    padding-left: 20px;
}

.logo-h1 {
    font-family: 'TTlakes bold', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.logo--h1::after {
    position: absolute;
    content: '';
    left: 0px;
    width: 3px;
    height: 40px;
    background-color: $line-second;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
        /* ----carousel---- */
    
.carousel {
    max-width: 1120px;
    height: 82px;
    padding: 0 20px;
    margin-right: 0;
    background-color: $main-back;
    
    &__list {
        flex-wrap: wrap;
        max-width: 1120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    &__item:hover {
        outline: 1px solid $line-second;
        background-color: $carousel-back;
        border-radius: 6px;
    }
    
    a {
        font-family: sans-serif;
        color: $text-second;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 5px 20px;
        white-space: nowrap;
    
        &:visited {
        color: $text-second;
        }
    }
    }
          
    
        /* ----main--- */
    
.header-main {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    
    &__left {
        margin-top: 10px;
    
        p {
        font-family: sans-serif, "TTlakes regular";
        color: $items-main;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; // 142.857%
        letter-spacing: 0.2px;
        margin-right: 35px;
        }
    }
    
    &__read {
        display: flex;
        margin-top: 10px;
    
        > p {
        color: $items-main;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; // 150%
        letter-spacing: -0.2px;
        }
    }
    
    &__right {
        width: 531.346px;
        height: 383.241px;
    
        img {
        width: 531.346px;
        height: 307px;
        border-radius: 6px;
        background: $main-back;
        }
    }
}
          
    
.divider {
    background-image: url(img/divider.svg);
    width: 2px;
    height: 32px;
    border-radius: 1px;
}

.sidebar-active {
    display: block;
}

@media (min-width:1441px) {
.block--disapear {
    display: none;
}
}

@media screen and (max-width:1439px) {
.block--disapear {
    display: block;
}
}