    ul {
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    
    a {
        color: $text-black;
        text-decoration: none;
    }
    
    ul{
        li {
            list-style-type: none;
        }
    }
    
    a:visited {
        color: $text-black
    }


    // sidebar



    .sidebar {
        min-width: 320px;
        position: relative;
        padding: 25px;
        min-height: 1024px;
        background-color: $carousel-back;
    }

    .sidebar-header {
        padding-bottom: 25px;
    }

    .font {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .sidebar-header__navigation-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .sidebar-header__list-left {
        display: flex;
        align-items: center;
    }

    .sidebar-header__list-left .sidebar-header__link:nth-child(1) {
        margin-right: 15px;
    }

    .main-sidebar {
        height: 420px;
        color: $items-main;
        font-family: "TT Lakes-medium", sans-serif;
    }

    .menu__item {
        margin-top: 32px;
    }

    .menu__item:nth-child(1) {
        margin-top: 0;
    }

    .list {
        transition: 1s;
    }

        /* ---- main ---- */

    .main-sidebar .menu__item > a {
        transition-duration: .2s;
    }

    .main-sidebar .menu-main__list > li {
        position: relative;
    }

    .main-sidebar .menu-main__list > li:hover::after {
        position: absolute;
        content: '';
        top: -4px;
        left: -24px;
        width: 4px;
        height: 32px;
        background-color: $line-second;
        border-radius: 0 3px 3px 0;
    }

    .main-sidebar {
        white-space: nowrap;
    }

        /* ---- footer ---- */

    .footer {
        padding: 25px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .footer-menu__list {
        display: flex;
    }

    .footer-menu__item {
        padding-right: 16px;
    }

    .footer-contacts {
        color: #1B1C21;
        font-family: "TT Lakes-demi", sans-serif;
    }

    .footer-contacts a:nth-child(1) {
        margin: 10px 0;
        font-family: "TT Lakes-medium", sans-serif;
    }

    .footer-contacts a {
        display: block;
    }

    .phone {
        font-family: "TT Lakes-demi", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
    }

    .footer-lang {
        display: flex;
        margin-top: 40px;
        color: $items-main;
        font-family: "TT Lakes-medium", sans-serif;
    }

    .footer-lang a:nth-child(1) {
        color: $text-second;
    }

    .footer-menu-main__list:hover > :not(:hover), .menu-main__list:hover > :not(:hover){
        filter: blur(1px);
        transition: 1s;
    }

    .sidebar-header__list-left .sidebar-header__link:nth-child(1) {
        display: none;
    }




    //head
    .logo:nth-child(2) {
        display: none;
    }
    
    .container {
        display: flex;
        background-color: $main-back;
    }

    .header-container {
        // min-width: 1120px;
        background-color: #F8F8F8;
    }
        /* ----header---- */
    .header {
        background-color: $main-back;
        height: auto;
    }
    
    .carousel {
        background-color: $main-back;
    }
    
    .header-main {
        background-color: $main-back;
    }
    
        /* ---- block ---- */
    .block {
        display: flex;
        justify-content: space-between;
        margin-right: 40px;
    }
    
    .block__inside {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .block__item {
        margin-right: 10px;
        font-family: 'TTlakes regular', sans-serif;
    }
    
        /* ---- menu ---- */
    
    .menu-old {
        display: none;
    }
    
    .menu-new {
        display: none;
    }
    
    .group {
        display: none;
    }
    
    .container + .logo {
        display: none;
    }
    
    a {
        display: flex;
        align-items: center;
    }
    
    .header > a {
        color: $items-main;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    
    a > span {
        margin-right: 8px;
        white-space: nowrap;
    }
    
    .logo {
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: relative;
        padding-left: 20px;
    }
    
    .logo--h1 {
        font-family: 'TTlakes bold', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
    }
    
    .logo--h1::after {
        position: absolute;
        content: '';
        left: 0px;
        width: 3px;
        height: 40px;
        background-color: $line-second;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
        /* ----carousel---- */
    
    .carousel {
        max-width: 1120px;
        height: 82px;
        padding: 0 20px;
        margin-right: 0;
        background-color: $main-back;
    }
    
    .carousel__list {
        flex-wrap: wrap;
        max-width: 1120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    .carousel__item:hover {
        outline: 1px solid $line-second;
        background-color: $carousel-back;
        border-radius: 6px;
    }
    
    .carousel a {
        font-family: sans-serif;
        color: $text-second;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 5px 20px;
        white-space: nowrap;
    }
    
    .carousel a:visited {
        color: $text-second;
    }
    
        /* ----main--- */
    
    .header-main {
        // max-width: 1120px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .header-main__left {
        margin-top: 10px;
    }
    
    .header-main__left p {
        font-family: sans-serif;
        color: $items-main;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.2px;
        margin-right: 35px;
    }
    
    .header-main__read {
        display: flex;
        margin-top: 10px;
    }
    
    .header-main__read > p {
        font-family: 'TTlakes medium', sans-serif;
        color: $items-main;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
    }
    
    .header-main__right{
        width: 531.346px;
        height: 383.241px;
    }
    
    .header-main__right img {
        width: 531.346px;
        height: 307px;
        border-radius: 6px;
        background: $main-back; 
    }
    
    .divider {
        background-image: url(img/divider.svg);
        width: 2px;
        height: 32px;
        border-radius: 1px;
    }

    .sidebar-active {
        display: block;
    }
    





    
    @media (min-width: 768px) and (max-width: 1440px) {
        
        //sidebar

        .sidebar-header__nav .sidebar-header__list-left .sidebar-header__link:nth-child(1) {
            display: none;
        }

        /* ---- header ---- */
        .block {
            display: none;
        }
    
        .menu-new {
            display: none;
        }
    
        .container + .logo {
            display: block;
            padding: 20px;
            background: $main-back;
        }
    
        .logo--h1::after {
            position: absolute;
            content: '';
            left: 0px;
            width: 3px;
            height: 40px;
            background-color: $line-second;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    
        .logo:nth-child(2) {

            background: $main-back;
            display: block;
        }
    
        .carousel__list {
            overflow: hidden;
            overflow-x: scroll;
            display: flex;
        }
    
        .header-main__left span {display: none;}
        
        .header-main__right {
            width: 360px;
            height: 259.655px;
        }
    
        .header-main__right img {
            width: 360px;
            height: 208px;
        }
    
        .header {
            padding: 15px;
            display: block;
            border-bottom: 1px solid $line-under;
            background-color: $carousel-back;
        }
    
        .menu {
            display: none;
            justify-content: space-between;
        }
    
        .burger {
            display: flex;
            align-items: center;
        }
    
        .group {
            display: flex;
            align-items: center;
        }
    
        .menu-old{
            display: flex;
            justify-content: space-between;
        }
    
        .menu__list {
            align-items: center;
            justify-content: space-between;
            display: flex;
        }
    
        .menu__left {
            display: flex;
            align-items: center;
        }
    
        .item span {
            display: none;
        }
    
        .menu__right {
            display: flex;
            justify-content: flex-end;
        }
        .item {
            margin-right: 15px;
        }
    }
    
    
    @media (min-width:320px) and (max-width:768px) {
        
        .sidebar {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20),
            -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        }


        .header {
            padding-top: 0;
            border-bottom: 1px solid $line-under;
            background-color: $carousel-back;
        }
    
        .block {
            display: none;
        }
    
        .nav {
            display: inherit;
        }
    
        .logo:nth-child(2) {
            display: block;
            background: $main-back;
        }
    
        .logo--h1::after {
            position: absolute;
            content: '';
            left: 0px;
            width: 3px;
            height: 40px;
            background-color: $line-second;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    
        .burger {
            display: flex;
            align-items: center;
        }
    
        .group {
            display: flex;
            align-items: center;
        }
    
        .menu-new {
            min-width: 320px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-origin: $carousel-back;
        }
        .carousel {
            height: 40px;
        }
    
        .carousel__list {
            overflow: hidden;
            overflow-x: scroll;
            display: flex;
            flex-wrap: nowrap;
        }
        
        .header-main {
            flex-wrap: wrap;
            padding: 0;
            padding-top: 20px;
        }
    
        .header-main__left > p:nth-child(2) {
            display: none;
        }
    
        .header-main__left {
            margin-top: 0;
            padding: 0 20px;
        }
    
        .header-main__right {
            width: 320px;
            height: 230.805px;
            padding-top: 10px;
        }
    
        .header-main__right {
            max-width: 320px;
            height: auto;
        }
    
        .items {
            margin-right: 15px;
        }
    
        .header-main__right {
            background-color: $main-back;
            height: 230.805px;
        }
    
        .header-main__right img {
            max-width: 320px;
            height: auto;
            border-radius: 6px;
            background-color: $main-back;
        }
    
    }

    @media (min-width:1120px) and (max-width:1440px) {


        .container {
            display: block;
        }

        .sidebar {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20),
            -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        }
    
    }
    
    @media (min-width:768px) and (max-width:1120px) {
    

        .container {
            display: block;
        }

        .sidebar {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20),
            -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        }

        .carousel__list {
            flex-wrap: nowrap;
        }
    
    }
    
    @media (min-width:320px) and (max-width:768px) {
    

        .container {
            display: block;
        }

        .sidebar {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20),
            -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        }
    
    }