$repair-text-color: $text-second;

.repair {
    background-color: $main-back;
}

.repair-header {
    padding: 16px 32px;
    height: 56px;
    background: linear-gradient(90deg, $main-back 0%, $carousel-back 98.61%);
}

.repair-h2 {
    color: $repair-text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.repair-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrap-card {
    margin: 16px 30px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid $divided-action;
    background: $carousel-back;
    width: 240px;
    height: 160px;

    > a {
        display: flex;
        justify-content: flex-end;
        height: 180px;
    }

    > img {
        width: 40px;
        height: 40px;
    }
}
