    .sidebar {
        // min-width: 320px;
        width: 100%;
        position: relative;
        padding: 15px;
        min-height: 320px;
        background-color: $carousel-back;
        display: block;
        // box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
    }
    .sidebar-bg {
        display: none;
    }
    
    @media (min-width: 768px) {
    .sidebar {
        width: 320px;
    }

    }
    
    @media (min-width: 320px) and (max-width: 1440px) {
    .sidebar-bg {
        display: none;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #fff;
        opacity: 0.98;
    }

    .sidebar-bg.active {
        display: block;
    }

    .side {
        display: flex;
    }

    .sidebar-bg.actions {
        display: block;
    }

    .font.actions {
        display: block;
        height: 100%;
    }

    a.sidebar-header__link {
        margin-right: 10px;
    }

    .sidebar {
        z-index: 4;
    }

    }

    .sidebar-header {
        padding-bottom: 25px;
    }

    .font {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .sidebar-header__navigation-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .sidebar-header__list-left {
        display: flex;
        align-items: center;
    }

    .sidebar-header__list-left .sidebar-header__link:nth-child(1) {

    }

    .main-sidebar {
        color: $items-main;
        font-family: "TT Lakes-medium", sans-serif;
    }

    .menu-item {
        margin-top: 25px;
    }

    .menu-item:nth-child(1) {
        margin-top: 0;
    }

    .list {
        transition: 1s;
    }

        /* ---- main ---- */

    .main-sidebar .menu-item > a {
        transition-duration: .2s;
    }

    .main-sidebar .menu-list > li {
        position: relative;
    }

    .main-sidebar .menu-list > li:hover::after {
        position: absolute;
        content: '';
        top: -5px;
        left: -15px;
        width: 4px;
        height: 32px;
        background-color: $line-second;
        border-radius: 0 3px 3px 0;
    }

    .main-sidebar {
        white-space: nowrap;
    }

    .footer {
        padding-top: 15px;
    }

        /* ---- footer ---- */
    @media (min-width: 768px) and (min-height: 635px) and (max-height:1024px) {
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            padding: 15px;
        }
    }
    
    @media (min-width: 768px) and (min-height: 1024px) {
        .footer {
            display: block;
            padding-top: 300px;
        }

    }

    .footer-menu__list {
        display: flex;
    }

    .footer-menu-item {
        padding-right: 16px;
    }

    .menu-link:hover {
        color: $text-second;
    }

    .footer-contacts {
        color: #1B1C21;
        font-family: "TT Lakes-demi", sans-serif;
    }

    .footer-contacts a:nth-child(1) {
        margin: 10px 0 0;
        font-family: "TT Lakes-medium", sans-serif;
    }

    .footer-contacts a {
        display: block;
    }

    .phone {
        font-family: "TT Lakes-demi", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
    }

    .footer-lang {
        display: flex;
        margin-top: 15px;
        color: $items-main;
        font-family: "TT Lakes-medium", sans-serif;
    }

    .footer-lang a {
        margin-right: 5px;
    }

    .footer-lang a:nth-child(1) {
        color: $text-second;
    }

    .footer-menu-list:hover > :not(:hover), .menu-list:hover > :not(:hover){
        filter: blur(1px);
        transition: 1s;
    }

    // .sidebar-header__list-left .sidebar-header__link:nth-child(1) {
    //     display: none;
    // }

    .footer-contacts__phone {
        font-family: 'TTlakes bold', sans-serif;
        color: $items-main;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
    }

    @media (max-width: 360px) {
        .sidebar {
            width: 360px;
        }

        .footer {
            padding: 25px 0 0;
            position: static;
        }
    }

    // @media (min-width: 320px) and (max-width: 360px) {
    //     .font.actions {
    //         // display: block;
    //         // width: 100%;
    //         // height: 100%;
    //     }
    // }