$swiper-pagination-bullet-size: 12px;

.swipper-header {
  padding: 16px 32px;
  height: 56px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFF 98.61%);
}

.swipper__h2 {
  color: #7E7E82;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.swiper-slide-next {
  margin-left: -40px;
}

.swiper {
  position: relative;
  margin-top: 0;
  width: 340px;
  padding: 10px 10px 0 30px;
  height: 120px;

  &::after {
    position: absolute;
    content: '';
    top: 15px;
    right: -8px;
    width: 26px;
    height: 71px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    z-index: 3;
  }
}

.swiper-backface-hidden .swiper-slide {
  position: relative;
}

.swiper-slide-next {
  position: relative;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, $swiper-pagination-bullet-size);
  height: var(--swiper-pagination-bullet-height, $swiper-pagination-bullet-size);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #B5B6BC);
}

.swiper-card {
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 240px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}

.swipper-footer {
  display: none;
}

@media (min-width: 768px) {
  .swiper {
    width: auto;
    height: auto;

    .swiper-slide {
      width: 240px !important;
      display: flex;
      margin: 10px;
    }

    .swiper-wrapper {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }

    .swiper-pagination {
      display: none;
      position: static;
      content: '';
    }

    &::after {
      display: none;
    }

    .footer-button {
      display: block;
    }
  }
}
