$swiper-pagination-bullet-size: 12px;

.swipers {
  background-color: #F8F8F8;
}

.swipper-header {
  background: linear-gradient(90deg, #F8F8F8 0%, #FFF 98.61%);
}

.swipper__h2 {
  color: #7E7E82;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.swipper-header {
  padding: 15px;
}

.swiper1, .swiper2, .swiper3 {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 26px;
    height: 71px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    z-index: 1;
  }
}

.swiper1 {
  height: 110px;
}

.swiper2 {
  height: 200px;
}

.swiper1, .swiper2, .swiper3 {
  margin: 10px auto;
  // padding: 10px;
}

.swiper3 {
  height: 240px;
}

.swiper-card {
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 240px;
  height: 72px;
  border-radius: 6px;
  background: #FFF;
}

.swiper-card2 {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 160px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  padding: 15px;
}

.swiper-card3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 240px;
  height: 200px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  padding: 15px;
}

.swiper-card2 > a {
  display: flex;
  align-items: flex-end;
}

.swipper-footer {
  display: none;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, $swiper-pagination-bullet-size);
  height: var(--swiper-pagination-bullet-height, $swiper-pagination-bullet-size);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #B5B6BC);
}

.swiper-wrapper {
  position: relative;
  padding: 10px 0;
}

.swiper-services, .swiper-price, .swiper-order {
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
}

.services__p--second {
  color: black;
  font-size: 14px;
}

.swiper-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-order {
  height: 32px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FF3E79;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  color: #fff;
}

.swiper__disapear--b768 {
  display: none;
}

@media (min-width: 768px) {
  .swiper-slide:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: auto;
    left: 2%;
    right: 2%;
    background-color: $divided-action;
  }
}

.swiper1 {
  &::after {
    top: 10px;
    right: -2px;
    width: 26px;
    height: 70px;
  }
}

.swiper2 {
  &::after {
    top: 10px;
    right: -2px;
    width: 26px;
    height: 160px;
  }
}

.swiper3::after {
  top: 10px;
  right: -2px;
  width: 26px;
  height: 200px;
}

.swiper-pagination {
  z-index: 1;
}