$main-back: #F8F8F8; //--main-background:
$carousel-back: #FFFFFF; //carousel-background
$icons-back: #FF3E79; //background-icons
$text-black: #000000; //black-text
$text-carousel: #B8FFEC; //carousel-text
$items-main: #1B1C21; //main_items
$text-second: #7E7E82; //second-text
$line-second: #41F6D7; // second-line
$divided-action: #EAEAEA; //actions__divided
$line-under: #D9FFF5; //under-line